#all{
    background: -moz-linear-gradient(left 135deg,#029253,#00887b);
    background: -webkit-gradient(linear,100% 100%,0 0,from(#029253),to(#00887b));
    background: -webkit-linear-gradient(135deg,#029253,#00887b);
    background: -o-linear-gradient(135deg,#029253,#00887b);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 400 62.5% "黑体",Arial;
}
.new_wrapper {
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
}
form {
    display: block;
    margin-top: 0em;
}
.new_register, .reg_pwd {
    position: relative;
}
.new_register div, .reg_pwd div {
    position: relative;
}
.new_register .border_btm {
    border-bottom: 1px solid #e0e0e0;
}
.new_register input, .reg_pwd input {
    width: 100%;
    border: 0;
    outline: 0;
    font: 16px "黑体";
    color: #333;
    background: #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 6% 5%;
    margin: 0;
}
.top {
    -moz-border-top-left-radius: 5px!important;
    -webkit-border-top-left-radius: 5px!important;
    border-top-left-radius: 5px!important;
    -moz-border-top-right-radius: 5px!important;
    -webkit-border-top-right-radius: 5px!important;
    border-top-right-radius: 5px!important;
}
.btm {
    -moz-border-bottom-left-radius: 5px!important;
    -webkit-border-bottom-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
    -moz-border-bottom-right-radius: 5px!important;
    -webkit-border-bottom-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
}
.new_register i.eye, .reg_pwd i.eye {
    width: 20px;
    height: 13px;
    background: url(//img.lagou.com/passport/static/mobile/modules/common/img/psweye_930f545.png) 0 0 no-repeat;
    background-size: 20px 30px;
    position: absolute;
    bottom: 33%;
    right: 5%;
    -moz-transition: transform .3s linear 0s;
    -webkit-transition: transform .3s linear 0s;
    -o-transition: transform .3s linear 0s;
    transition: transform .3s linear 0s;
}
.new_register i.open, .reg_pwd i.open {
    width: 20px;
    height: 13px;
    background: url(//img.lagou.com/passport/static/mobile/modules/common/img/psweye_930f545.png) 0 -16px no-repeat;
    background-size: 20px 30px;
    position: absolute;
    bottom: 33%;
    right: 5%;
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}
i, cite, em, var, address, dfn {
    font-style: italic;
}
.new_register i.openeye, .reg_pwd i.openeye {
    background: url(//img.lagou.com/passport/static/mobile/modules/common/img/psweye_930f545.png) 0 -16px no-repeat;
    background-size: 20px 30px;
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}
.new_register span, .reg_pwd span {
    position: absolute;
    right: 5%;
    top: 36%;
    font-size: 1.2em;
    color: #f94e4e;
    line-height: 1.2;
}
[data-controltype=Password] [data-valid-message] {
    right: 13%;
    top: 42%;
}
input[type=button], select, button {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
}
.btn_green {
    display: block;
    width: 100%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #0ac599;
    -webkit-box-shadow: 0 2px 0 #008765;
    -moz-box-shadow: 0 2px 0 #008765;
    box-shadow: 0 2px 0 #008765;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 20px 0;
    padding: 5%;
}
.register_text {
    color: #45e3be;
    font-size: 12px;
    line-height: 1.3;
}
.btn_green_border {
    display: block;
    width: 100%;
    font-size: 18px;
    color: #45e3be;
    text-decoration: none;
    text-align: center;
    border: 1px solid #45e3be;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 8px 0;
    padding: 5%;
}