#content .history .history-item {
    height: 45px;
    line-height: 45px;
    font-size: 1.4rem;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 0 0 23px;
}
#content .history .history-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#content .history .text {
    display: inline-block;
    height: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 75%;
}
#content .history .delcon {
    float: right;
    width: 40px;
    height: 45px;
    text-align: center;
    width: 14%;
}
#content .history .delicon {
    display: inline-block;
    height: 10px;
    width: 12px;
    background: url(//www.lgstatic.com/images/mobile/asset/common/img/icon.png) no-repeat -71.5px -4px;
    background-size: 250px 250px;
}